<h2> <%= feed.escape("title") %> </h2>
<br>
<button class="refresh btn btn-primary btn-lg">Refresh</button>
<br>
<ul>
<% feed.entries().each(function(entry){ %>
  <li>
    <a href="<%= entry.escape('link') %>"><%= entry.escape('title') %></a>
  </li>
<% }) %>
</ul>
